[2014-02-28 08:22] kingcrunch opened #2 "Rename options "linked_*""
For compatibility with capifony and because at least I find `shared_*` more obvious the both options `linked_dirs` and `linked_files` should get their old names (`shared_dirs` [1] and `shared_files`) back. It isn't really important, that they are really "linked" somehow (because theoretically they could be copied), but interesting is, that that are files and folders, that are shared between deploy

[2014-03-06 04:30] #2 closed, assigned to nobody

[2014-03-09 21:45] mstrzele opened #3 "build_bootstrap should execute php binary"
build_bootstrap task should execute php binary, not the script itself.

[code]

[code]

[2014-03-09 22:41] #3 closed, assigned to nobody

[2014-03-31 08:04] sandermarechal opened #8 "SYMFONY_ENV not set correctly"
In `defaults.rb` this code is called:

[code]

Problem is that this code is usually executed before the stage-specific configuration. So if I have a 'staging.rb' stage with a config like this:

[code]

Capistrano will still call command like:

[code]

[2014-04-09 09:42] 2bedom opened #10 "Seems that some tasks dit not run"
When i try adeploy it seems that some tasks from
https://github.com/capistrano/symfony/blob/master/lib/capistrano/tasks/symfony.rake

did not run propperly..
1.) no bootstrap is created
2.) the permissions were not set

[code]

if i put this in my deploy.rb file

[code]

i also couldnt find were you use this var

[code]

my whole deploy.rb looks like this

[code]

something wrong with this config

[2014-04-17 10:38] alister opened #11 "parameters.yml deployment"
Any tips/suggestions/recommendations regarding uploading a production-read parameter file?

[2014-04-17 20:03] kingcrunch opened #12 "Duplicate executions"
Some tasks do stuff, that is already (usually) covered by composer scripthandlers and shouldn't run by default.

See also: https://github.com/symfony/symfony-standard/blob/master/composer.json
- cache warm up

[code]

  in composer.json
- built-bootstrap

[code]
- install assets

[code]

I am not entirely sure, if it's useful to drop them at completely (they are not too complicated to write in one

[2014-04-18 00:12] kingcrunch opened #13 "Make bootstrap cache configurable"
Hi, it's me again. I've seen [a `TODO`](https://github.com/capistrano/symfony/blob/master/lib/capistrano/tasks/symfony.rake#L32)

[code]

I'd say yes. Actually only because I consider dropping the bootstrap-cache entirely, because
- It is the only "part" of the DistributionBundle I use, so I'd like to drop that bundle
- It looses it's benefit, when there is a proper bytecode cache with constant `s

[2014-04-18 13:32] kingcrunch opened #14 "Allow symlinks for assets"
It should be possible to pass `--symlink` or `--symlink --relative` to `assets:install`.

Like in

[code]

[2014-05-02 23:51] kingcrunch opened #18 "Create/update parameters.yml"
Right now it's just a loose idea, but it would be nice, if this gem could ensure, that the `parameters.yml` exists and is properly set up (via template probably) before `deploy:check:linked_files`, because thats the task, which fails, if the file doesn't exists. It should also be possible to use some values from a remote file. I don't know, if there are already some best practices though.

[2014-05-06 04:04] patrickli opened #19 "Delay execution of deploy:set_permissions:*"
Currently, `deploy:set_permissions:*` is executed in `deploy:updating`, before `deploy:updated` where `symfony:cache:warmup` is run.

I have a situation where the deployment user is not root and is different from the webserver user. In this case the `app/cache` directory is marked as 777 but the generated cache files are not. Sometimes symfony will create more cache files when the application is r

[2014-05-07 10:45] #18 closed, assigned to nobody

[2014-05-13 12:35] #13 closed, assigned to peterjmit

[2014-05-14 22:55] #14 closed, assigned to peterjmit

[2014-05-15 08:15] #12 closed, assigned to peterjmit

[2014-06-10 01:50] #10 closed, assigned to peterjmit

[2014-06-10 01:54] #19 closed, assigned to nobody

[2014-06-10 01:55] #11 closed, assigned to peterjmit

[2014-06-23 19:39] nicolas-san opened #21 "Capistrano dependency error"
Hello,
I change my message I made mistake, I never use bundle before,
I create a new Gemfile, and install Capistrano and capistrano/symfony.
So, it's not an issue, but perhaps more details in readme for symfony dev with only beginners skills on ruby, like me :)
Thanks

[2014-06-30 08:48] daFish opened #22 "Tasks don't run"
This issue has been already tackled within other tickets but I still have them.

In my `deploy.rb` explicitly calling `after 'deploy:updated',   'symfony:assetic:dump'` doesn't have an effect. The same goes for any other task, e.g. `before 'deploy:updated', 'bower:install'`.

[2014-07-03 13:25] kingcrunch opened #23 "Tag version 0.2"
The last commit is from mid may and there is no serious issue open (as far as I can see), therefore a second release `0.2` is useful.

[2014-07-04 12:31] nuqqsa opened #24 "Unable to set SYMFONY_ENV on FreeBSD"
[code]

In FreeBSD the command should look like this:
[code]

[2014-07-28 07:39] armetiz opened #25 "Gem naming conflict"
Hi there,

I'm posting here to talk about this [issue](https://github.com/TheBigBrainsCompany/capistrano-symfony/issues/12).

In fact, we think this is a good solution to leave the `capistrano-symfony` and allow you to use it.

Our capistrano module can handle **parameters.yml** uploads when this is needed. And I'll be really happy to see this feature implemented in the `capistrano/symfony` module

[2014-07-29 13:50] #8 closed, assigned to peterjmit

[2014-07-29 14:02] #21 closed, assigned to nobody

[2014-07-29 14:02] #23 closed, assigned to nobody

[2014-07-29 23:15] peterjmit opened #27 "A test suite is needed"
capistrano/capistrano has a rspec and cucumber test suite, we should be looking were possible to leverage and provide the same coverage for this library.

[2014-08-15 13:56] jurgenweber opened #28 "how to run a console command?"
I found in your readme...
[code]
but
[code]
I think found in issue 10, to use symfony:command but
[code]

my code:

[code]

how can I run a console command? :0

Versions:
gem list | grep capistrano
capistrano (3.2.1, 2.15.5)
capistrano-composer (0.0.4)
capistrano-file-permissions (0.1.0)
capistrano-symfony (0.3.0)

I did just find this thuo:
https://github.com/capistrano/symfony/blob/master/lib/ca

[2014-08-19 16:41] carlescliment opened #29 "Unable to override :controllers_to_clear"
I've some specific app_xxx.php files I **do** want to deploy. I've modified my `production.rb` so that it overrides the custom value:

[code]

However, changes are not reflected when doing `cap production deploy` and it still removes all the `app_*.php` files. Am I missing something?

[2014-08-19 16:51] #29 closed, assigned to nobody

[2014-09-11 13:13] jurgenweber opened #30 "set own environment variable for console commands"
how can i do it?

I can see in debug log:

DEBUG[79c9a742] Command: cd /var/www/asdf/asdf/shared && ( SYMFONY_ENV=prod /usr/bin/env [ -e composer.phar ] )

how can i add another param to that SYMFONY_ENV?

[2014-10-17 04:44] #25 closed, assigned to nobody

[2014-11-04 09:28] sandermarechal opened #31 "Support Symfony 3 directory structure"
Please support the Symfony 3 directory structure: http://stackoverflow.com/questions/23993295/what-is-the-new-symfony-3-directory-structure

This can be as easy as adding a `var_path` and `bin_path`, where `cache_path` and `log_path` depend on the `var_path`, and `symfony_console_path` depends on `bin_path`. For a Symfony 2 project, `var_path` and `bin_path` should be equal to `app_path`. For a Sy

[2015-02-21 09:51] blaugueux commented on #31
+1 :)

[2015-03-04 19:21] billydavies opened #34 "Overriding app_path and web_path defaults doesn't seem to take effect"
My Symfony2 project root is in a sub-directory (i.e. the structure is '/htdocs/app, /htdocs/bin' etc).  I do this to avoid mixing my Vagrant files in with Symfony files.   I overrode the app_path and web_path defaults in deploy.rb using:

set :app_path, 'htdocs/app'
set :web_path, 'htdocs/web'

but when I run 'cap staging deploy' the defaults of 'app' and 'web are still in effect.  I'm not a Ruby

[2015-03-05 09:46] Clindbergh commented on #34
I am trying to achieve the same, observing the same problem.

Additonally composer fails because it expectes `composer.json` to be in the root directory. Even if `:app_path` and `:web_path` would work, I'd still expect the setup to fail. I'd think some setting like

`set :symfony_root_path, 'htdocs'`

would be useful.

[2015-03-05 13:44] Clindbergh commented on #34
oh and you're likely going to run into composer issues: capistrano/composer#37

[2015-04-02 17:42] pborreli commented on #30
If you want to define other env variables you can use :

[code]

[2015-04-10 17:08] garak commented on #31
:+1:

[2015-04-22 08:14] ZeeCoder commented on #31
:+1:

[2015-04-30 18:51] bantu commented on #24
Are you sure this is a FreeBSD issue? You're probably just using a shell that doesn't support "SYMFONY_ENV=prod".

[2015-05-26 16:56] feyyazesat commented on #31
+1

[2015-05-26 17:37] feyyazesat commented on #31
is there any workaround guys ? I did like this https://gist.github.com/feyyazesat/18daf74bae3454919ff5
but it gives me following Error. It is interesting it can work for php bin/console but not for cache and logs. I'm not a ruby programmer. There may be easy way to handle it ?

ERROR Cannot change permissions: /path/to/releases/20150526172544/app/cache is not a file or directory
(Backtrace restric

[2015-06-15 12:04] carlcraig opened #36 "parameters.yml updates"
It would be nice to have a built in task to sync `parameters.yml` with the `dist` version.

I have created a couple of simple tasks which provide this functionality: https://gist.github.com/carlcraig/377ed30bfa2015ea5049

Im not sure if they are worth integrating into this module (and I wouldn't know where to start with integrating them).

Hopefully they are useful.

[2015-06-15 18:51] peterjmit commented on #36
Hi @carlcraig,

Thanks for the suggestions, but `parameters.yml` is a file that is very much specific to the environment and often contains secrets such as database passwords and the like.

Capistrano is not really the best tool for sensitive information as its primary datasource is usually a source code repository and that kind of info should __never__ be stored in the repo. A such I would not be

[2015-06-15 18:51] #36 closed

[2015-06-15 18:54] peterjmit commented on #34
@billydavies you need to override all of the setting (listed in README.md) that include `app_path` and `web_path`

i.e. in your `deploy.rb`

[code]

[2015-06-15 18:54] #34 closed

[2015-06-15 18:56] peterjmit commented on #30
Closing this issue, thanks for helping @pborreli :smile:

[2015-06-15 18:56] #30 closed

[2015-06-15 18:57] peterjmit commented on #24
Closing as this is an issue for the main capistrano repository/SSHkit (and likely not an issue there either)

[2015-06-15 18:57] #24 closed

[2015-06-15 18:58] peterjmit commented on #28
This has since been fixed

See
* https://github.com/capistrano/symfony/blob/f557b3ce2cb0a90d43704e73a9dbda8ea170fb0e/capistrano-symfony.gemspec#L21-L30
* https://github.com/capistrano/symfony/releases/tag/0.4.0

Sorry for any confusion!

[2015-06-15 18:58] #28 closed

[2015-06-15 21:55] carlcraig commented on #36
No worries.

The idea with the tasks is to prompts the user to enter the values, to *avoid* saving them in `VCS`, and ensure that the shared `parameters.yml` contains all the required parameters specified in the `dist` file similar to https://github.com/Incenteev/ParameterHandler.

That being said environment variables are probably the best solution for this, where something like chef/puppet/ansib

[2015-06-18 18:12] pstephenson02 opened #38 "Cache permissions issue"
Hi! I am working on setting up Capistrano for a Symfony project and I've run into a strange permissions issue and I hope someone can point me in the right direction...

The deployments are successful, however, when I attempt to access the page, the web server logs are showing me a permissions error:

[code]

Here is some information that should help:

[Here is a gist of the deployment](https://gis

[2015-06-18 18:47] pstephenson02 commented on #38
Ok, some more information here.
While setfacl is honestly a bit of voodoo to me, it does appear that despite adding the flag:

[code]
in my deploy.rb, the setfacl command run does not include web server user in the command:

[code]

If I run the same commands again, but I include the web server user:

[code]

This works!

[2015-06-18 19:23] pstephenson02 commented on #38
Last comment for anyone reading:

I was able to resolve this by adding the line:

[code]

This comes from the [capistrano/file-permissions documentation](https://github.com/capistrano/file-permissions#usage) and after adding it indeed I can see the u:apache:rwx is added to the setfacl command.

I'm unsure as to whether this set :webserver_user is intended to accomplish the same thing or not. Eithe

[2015-06-25 15:01] flo-sch opened #39 "Cannot load such file -- capistrano/symfony"
Hey guys,

First, apologies if this problem is not related to this repository,
This is my very first time with capistrano and ruby in general.

When I try to launch any capistrano command  such as ````cap deploy:setup````, it fails with the following error:

	(Backtrace restricted to imported tasks)
	cap aborted!
	LoadError: cannot load such file -- capistrano/symfony

I am using OS X 10.10.3

```

[2015-06-27 20:40] evoactivity commented on #39
For some reason it's installing as symfony-f557b3ce2cb0 in your /Users/you/.bundler/ruby/2.0.0/gems directory, rename that to capistrano-symfony and that seems to fix it.

[2015-06-30 15:20] zaerl opened #40 "Wrong configuration param for capistrano/file-permissions"
**capistrano/symfony** does use a variable called **webserver_user** for storing the usename used by **use_set_permissions** which is incorrect.

The [correct variable](https://github.com/capistrano/file-permissions/blob/master/lib/capistrano/tasks/file-permissions.rake#L82) read by file-permissions is: **file_permissions_users**.

[2015-07-10 09:35] wideawake commented on #38
many thanks @pstephenson02

I created a PR.

[2015-07-16 08:47] zaerl opened #42 "Exporting of SYMFONY_ENV"
It seems that capistrano/symfony do not export the SYMFONY_ENV variable. Given this post-install-cmd scripts do not run in the chosen environment. I set this in my deploy script and now everything work well.

[code]

[2015-07-27 08:42] craigcarnell opened #43 "How to use this?"
Should I be using cap install or is there another command line tool? I don't see symfony anywhere in my path

OS is OS X

When I do run cap install, it creates the various files but not in the app folder, is this normal behaviour?

Also this is the Capfile it created (with my manual addition of symfony)

[code]

Is this correct?

[2015-08-06 09:48] Marcpepe commented on #31
You can override console, logs and cache paths which have changed in the new S3 structure by adding the following to your deploy.rb.
[code]

[2015-10-23 12:58] jgettings opened #46 "Error: no implicit conversion of nil into String"
I'm having an issue using the default values for some of the available options in this plugin. If I just add "require 'capistrano/symfony'" to my deploy.rb, I get an error about symfony_cache_path being null. I played around with this locally to see if I could figure out what was happening, it seems like either defaults.rb or paths.rb isn't really running or is running in the wrong order, but I'm

[2015-11-16 09:56] webdevilopers opened #47 "How to run doctrine:migrations:migrate on demand"
Current setup following readme:
[code]

I don't always have migrations. I tried removing the `'--no-interaction` flag but the interaction never runs if no migrations are present. My `cap` aborts:

[code]

Is there any way to run the task on demand like with Capifony those days?
http://capifony.org/#useful-tasks

Possibly related to https://github.com/capistrano/symfony/issues/28 by @jurgenweber

[2015-11-16 10:22] greg0ire commented on #47
Strange. I have almost the same as you and there is no problem, here is the output I get when there is no migration :

[code]

Here how migrations are plugged in : `after 'deploy:finishing', 'mycompany:migrations:migrate'`

And here is the task I'm using :

[code]

[2015-11-16 10:23] greg0ire commented on #47
Notice how it does not seem to go to stderr… here is what I am using :

[code]

[2015-11-16 12:23] webdevilopers commented on #47
That hint helped @greg0ire . The current version was missing the initial `DoctrineMigrations` folder.
No the error is gone. Thanks!

[2015-11-16 12:23] #47 closed

[2015-11-16 12:25] greg0ire commented on #47
Oh I see. Good job finding that!

[2015-11-16 12:44] webdevilopers commented on #24
Did you find a solution to this @nuqqsa ? Indeed I am facing the same issue on FreeBSD too.

[2015-11-16 15:59] nuqqsa commented on #24
The workaround for us was to change the default shell to bash. In FreeBSD that is CSH.

[2015-11-17 09:02] webdevilopers commented on #24
Did you have to set this globally on your server or via capistrano task? Maybe this could be interesting for other FreeBSD users too.

[2015-12-03 11:40] salemgolemugoo commented on #39
@evoactivity it's not working for me also

[2016-01-08 15:56] tomcyr commented on #39
[code]
resolved this problem

[2016-01-14 22:20] #38 closed

[2016-01-14 22:20] #22 closed

[2016-01-14 22:22] #43 closed

[2016-01-21 21:02] leonnleite commented on #31
+1

[2016-02-04 10:40] gerryvdm commented on #40
At the very least, the README.md should be updated as it is wrong in stating `set :file_permissions_users, ['www-data']` is the default value. By default no extra users are given permissions.

[2016-02-08 11:54] webdevilopers opened #52 "parameters.yml not symlinked on FreeBSD"
I just updated a symfony app that used capifony with capistrano 2.

I use all the default values without adding `parameters.yml` to the `:linked_files`.

For some reason the symlink is not created. The app will deploy and use the non-shared file under `app/config/parameters.yml`.

The command is executed:
**Running /usr/bin/env [ -f /usr/local/www/apache24/noexec/foobar/shared/app/config/parameter

[2016-02-08 12:00] webdevilopers commented on #42
Is this still an issue? Had no problems so far with the default config value:
[code]

Can you post any post-install-cmd script that fails?

[2016-02-08 12:19] webdevilopers commented on #24
For anybody interested here is a tutorial how to change the default bash in FreeBSD:
http://www.cyberciti.biz/faq/howto-set-bash-as-your-default-shell/

This solved my problem.

[2016-02-08 15:44] greg0ire commented on #52
Did you configure these settings accordingly :

[code]
?

[2016-02-11 13:00] webdevilopers commented on #52
The directory on our FreeBSD server have the `vuser` group by default, not the typical apache `www-data`. This is the config I tried:

[code]

What are the requirements for user and group to make it work? I could ask our provider about the best settings.

[2016-02-11 13:05] greg0ire commented on #52
Why isn't it vuser ?

I don't know, I banged my head myself with a similar ACL issues the other day, and decided to limit the use of ACLs through capistrano to the cache directory, which is the only www-data-writable-dir that is not linked in `shared`.

[2016-02-11 18:04] webdevilopers commented on #52
The provider suggest to use `web` instead of `www-data`:
[code]

The symlinks seem to work. Unfortunately I get a permission error:
[code]

What kind of permissions are need here? As I mentioned I can't run `acl` for setting permissions - siee issue https://github.com/capistrano/symfony/issues/40.

[2016-02-12 20:00] webdevilopers commented on #52
At the bottom line I switch to `chmod` using my regular user I use for SSH auth. No need to switch to `web` then. But some other issues with permissions on the `cache` folder and `logs/prod.log`.
I recently changed them to *0777* to be able to deploy.

Acl can not be used on FreeBSD with the current command:
[code]

**setfacl: illegal option -- R**

I will create a new issue on the capistrano proj

[2016-02-12 20:00] #52 closed

[2016-02-25 11:06] maximelebastard commented on #46
+1

[2016-03-03 17:17] webdevilopers opened #53 "Doctrine migrations task freezes deploy"
My migration command:
[code]

The task:
[code]

The interaction starts and asks me if I want to migrate. Wheter I choose Y or N the cap deploy will freeze.
This normally indicates there is an error inside the migrations files.

I logged in to the server with the same SSH user and run the command manually with success.
In my case all migrations already were migrated:
[code]

I know there are some i

[2016-03-03 20:50] peterjmit commented on #53
@webdevilopers I think this is more an issue for SSHKit and/or Capistrano itself. In Capistrano v2 I believe you had to set `pty: true` to get an interactive prompt, but I'm not sure if that rolled over into v3 & ssh kit.

Personally I run with the `--no-interaction` flag to avoid such issues (as deploys are automated).

[2016-03-03 20:50] #53 closed

[2016-03-04 19:43] webdevilopers commented on #53
Thanks @peterjmit . I switched to `--no-interaction` and it seems to work fine now:

[code]

Have you ever tried this gem by @kilhage ?
https://github.com/glooby/capistrano-symfony-doctrine

[2016-03-06 10:20] peterjmit commented on #53
@webdevilopers I haven't no, but looks handy!

[2016-03-06 10:49] peterjmit commented on #31
Fixed in #50

[2016-03-06 10:49] #31 closed

[2016-03-06 10:50] peterjmit commented on #40
Fixed in #50

[2016-03-06 10:50] #40 closed

[2016-03-06 10:51] #39 closed

[2016-03-06 10:53] peterjmit commented on #46
@jgettings Thanks for the detailed report, if you have a chance to play around with the new release and this is still a problem can you reopen?

https://github.com/capistrano/symfony/releases/tag/1.0.0.rc1

[2016-03-06 11:03] #46 closed

[2016-03-07 17:42] pbowyer opened #54 "setfacl error once webserver has written files to directories"
`capistrano/symfony` has been working great to deploy my code. It's only now, once people have started uploading files to the website, that a problem has appeared.

This is using `capistrano-symfony (1.0.0.rc1)`

Files are deployed as `myuser` and PHP runs as `www-data`. At the end of a deployment, I now get the following error:
[code]

All folders are owned as `myuser`, and files in `uploads/temp

[2016-03-09 11:51] pbowyer commented on #54
I deleted everything, re-deployed, and it worked.

[2016-03-09 11:51] #54 closed

[2016-03-10 04:40] anoop-digitalassess commented on #31
The following code will help you deploy symfony3 structure.

ruby-1.9.3-p551, Gem file details below

source 'http://rubygems.org'
gem 'capistrano', "~> 2.15.5"

gem 'capifony'
gem 'capistrano_rsync_with_remote_cache'
gem 'capistrano-multistage'

[code]

Hope this helps.

[2016-03-18 11:22] sagikazarmark commented on #42
This is what I can see in the capistrano log:

[code]

This is actually done [here](https://github.com/capistrano/symfony/blob/master/lib/capistrano/tasks/set_symfony_env.rake#L3)

[2016-03-18 11:58] sagikazarmark opened #57 "Doctrine integration"
I haven't found any previous discussions about this topic, so I start one here:

One thing that is missing from this gem (and we had it in capifony) is doctrine integration.

I have this basic list of doctrine tasks:

[code]

I am aware of https://github.com/glooby/capistrano-symfony-doctrine, but I think it would be better to have it in the symfony package. Also, I propose the following improveme

[2016-03-19 12:15] peterjmit commented on #57
hi @sagikazarmark.

I would rather keep this logic in the separate library, I would generally not recommend running anything other than `migrations:migrate` (and perhaps `database:create`) in a production environment. These commands end up being quite specific to each team's workflow.

If people are finding the doctrine library useful then perhaps we can add a link to the README?

[2016-03-19 13:03] khalid-s opened #58 "installation could not find gem"
Hi,

I tried the installation but it does not seem to work and there are no workarounds on the web for the problem. Here is what I did:

Added capistrano/symfony in my Gemfile
[code]

Launched cap install
[code]
As mentionned in the error, I launched bundle install:
[code]

This was done on a fresh ubuntu install. Ruby 2 was installed with rvm and ruby -v returned:
[code]

[2016-03-19 18:16] peterjmit commented on #58
It looks like you need to update your `Gemfile` to include the following line

[code]

source 'https://rubygems.org'
Could not find gem 'capistrano-symfony (~> 1.0.0.rc1)' in any of the gem sources listed in your Gemfile or available on this machine.

[2016-03-19 18:16] #58 closed

[2016-03-19 18:30] sagikazarmark commented on #57
Well, to be honest I had doubts as well about this.

One point though: doctrine commands, like drop, fixtures might make sense in dev env.

Let's see if I can come up with something.

[2016-05-02 12:44] khalil1608 opened #60 "Symfony 3"
Could we have the same version for Symfony 3 ?

[2016-05-09 15:57] gido opened #61 "What is the syntax to call a symfony command ?"
The README mention this:

[code]

But when I use `symfony_console` in my own task I get this error:

[code]

I'm using `capistrano-symfony rc2` and `capistrano 3.5.0`. The CHANGELOG mention a change about `symfony_console` but I'm not sure to understand it.

Thanks for your help,

[2016-05-19 09:30] ninodafonte commented on #61
Hi @gido,

I had this issue yesterday and as I didn't have too much time to dig into the code and see what's the real problem here, my workaround was to use the "old" way:

**invoke 'symfony:console', 'doctrine:migrations:migrate', '--no-interaction', 'db'**

instead of the **symfony:console(blabla)** thing.

Hope this works for you in the meantime, I'll try to find out the real reason if nobody g

[2016-05-29 14:49] gido commented on #61
Thanks for the reply. I used `invoke` and it work.

I wasn't aware about the role requirement (but it's a good thing to specify it in all case ;-)). I will update my recipes and try with this change.

[2016-06-10 14:52] folliked opened #63 "bug after 0.4.0 version undefined local variable or method `symfony_cache_path'"
00:00 deploy:symlink:linked_dirs
      01 mkdir -p /var/www/test/myproject/releases/20160610144818/app
*\* Invoke symfony:create_cache_dir (first_time)
*\* Execute symfony:create_cache_dir
cap aborted!
NameError: undefined local variable or method `symfony_cache_path' for #<SSHKit::Backend::Printer:0x007fb6b29277a8>
/Library/Ruby/Gems/2.0.0/gems/capistrano-symfony-1.0.0.rc2/lib/capistrano/tasks/sy

[2016-06-13 11:39] folliked commented on #46
i have still the problem with the 1.0.0.rc1 and rc2 ... the work around doesn't work. I have open an issue for this.

[2016-06-21 09:56] quentinsikana commented on #63
I have exactly the same problem here.

@folliked have you found how to fix this?

[2016-06-21 10:27] quentinsikana commented on #63
In the file `lib/capistrano/tasks/symfony.rake` line 53

Shouldn't we replace this
[code]
with this
[code]
?

[2016-06-22 08:24] folliked commented on #63
i think, it doesn't load DSL libs of capistrano/symfony

[2016-07-01 09:55] novacp opened #64 "Cannot deploy: symfony_cache_path undefined"
I was trying to use capistrano symfony, therefore I followed your docs here on github but when I try to deploy, I receive the following error:

"NameError: undefined local variable or method 'symfony_cache_path' for #SSHKIT:Backend::Printer:0x2f8b360.

This error occurs within symfony.rake, when trying to run the task "symfony:create_cache_dir".
I inspected the file "symfony.rake" and could not fi

[2016-07-04 06:43] yellowmamba opened #65 "Permission issue using ACL"
Hi there,

I use ACL to set permissions on certain directories upon deployment. Here's the part of `deploy.rb`:

[code]

So this works on the first deployment, when you set up your directories where nothing has been created inside them yet. However, after some time, say you uploaded an image to the `web/uploads` directory, the file would be under the `www-data` user, while the directory is still o

[2016-07-14 08:23] pedroresende commented on #58
@peterjmit shouldn't the README.md be updated to reflect these changes ?

[2016-08-02 16:11] Nico-h commented on #64
Hi there,

I have got the same error... :(

[2016-09-16 07:41] wasbaiti commented on #64
Hello
I encounter the same bug
my deployment is successful without capistrano/symfony
as soon as I add capistrano/symfony, it no longer works
I use gitlab and symfony3 and everything is on ubuntu servers

[2016-09-23 01:27] CaptainStiggz opened #68 "Deploying Symfony in dev environment"
I have a staging server that I use to test my application. The issue is if I try setting `:symfony_env, "dev"` I get the following error during the `composer install` phase.

[code]

This makes sense, but I don't see in the docs where to override the default `composer install --no-dev --prefer-dist --no-interaction --quiet ...`

[2016-09-26 09:50] TNAJanssen opened #69 "Copy vendor map before composer install"
If you link the vendor folder and your build fails and you go back, you will be hanging with wrong versions of your packages.

So a different solution would be copying the vendor map to the new release to speed up composer install.

Any thoughts on this?

[2016-10-25 09:59] wasbaiti commented on #65
Hello,
I have exactly the same problem.
I tried using chmod, works fine first time, but capistrano can not delete old releases because cache directory contains files owned by www-data.

Really appreciate if someone can help with that.

[2016-10-25 10:37] wasbaiti commented on #68
Hi
You can try :
set :composer_install_flags, '--prefer-dist --no-interaction --optimize-autoloader --quiet' in your deploy.rb if you want to ovverride it for all your deployment env, or in staging.rb if you want to override juste staging environnement for example

[2016-10-25 18:12] dmitrykustov opened #70 "Override app_path/web_path"
In our project Symfony is in the separate directory. I'm trying in my deploy.rb to do
`set :app_path, "symfony/app"`
without success. Is there any way to take care of it?

[2016-10-25 21:12] dmitrykustov commented on #70
That was stupid, sorry.
manual setting all variables like cache_path, log_path, symfony_console_path solves the problem.

[2016-10-26 04:39] yellowmamba commented on #65
@wasbaiti I don't have this issue on deleting old releases due to the cache folder. Did you set up permissions correctly? http://symfony.com/doc/current/setup/file_permissions.html. Note you need to give permissions to both web server user and your `whoami` user for cache and/or log folder.

[2016-10-26 07:55] wasbaiti commented on #65
@yellowmamba : I did set up permissions for my first release, capistrano did delete this release, bun fail to do same thing on other releases.
to work around the problem, I add a task that executes commands explained in the documentation and now it works fine.
I noticed that the difference is in the command options.
That of Capistrano, used -n and without this option it works

[2016-11-07 16:07] migmolrod opened #71 "My parameters.yml file gets overriden"
I upload a "production" app/config/parameters.yml, but then "composer install" is invoked so it overrides that custom parameters.yml and post-install scripts from Symfony's composer fail since it can't connect to database.

How can I handle this?

[2016-11-24 02:12] jmily commented on #71
@migmolrod , I followed the example [Symfony3 Capistrano Example](https://codestory.me/symfony3-deployment-capistrano-example/) and it's working for me. Basically, uploading your parameters.yml file to the shared folder of your production server and set the linked files.

[2016-11-24 16:50] NicolasNSSM opened #73 "'execute' should be wrapped in an 'on' scope"
I'm trying to deploy a SF3 app with
- capistrano-3.6.1
- capistrano-symfony-1.0.0.rc2

I got an error :

[code]

I think someone just has to add a "on roles" there, but as i'm using it on a gitlab docker runner, i can't easily edit the file and test it...

[2016-12-19 09:36] nescim commented on #63
Did anybody find a workaround? @folliked seems to be right since the offending variable is defined in the DSL folder but I don't have enough experience with Capistrano to figure out how to include it manually and even google does not yield anythiong useful.

[2016-12-19 09:37] nescim commented on #64
It looks like this is a duplicate of #63.
Also, did anyone find a workaround?

[2016-12-21 15:32] JulienBreux commented on #46
Same problem

[2016-12-25 15:34] neilferreira opened #75 "Capfile: cannot load such file -- capistrano/symfony"
Trying to use this deployer for the first time,  a bit unsure if I've done something incorrect or if the docs are out of date
[code]

bundle show
[code]

cap deploy
[code]

Any ideas?

[2016-12-26 07:18] neilferreira commented on #75
Fixed by updating the Capfile to

[code]

[2016-12-26 07:18] #75 closed

[2017-01-20 10:21] pbowyer opened #77 "Make :symfony_console_path executable"
On all my deployments, :symfony_console_path (`bin/console`) never has the executable bit set.

[2017-01-20 12:01] pbowyer commented on #77
My workaround:
[code]

[2017-01-22 01:43] MJBGO commented on #63
Same problem for me and "symfony_console" is not defined too ...

Ruby 2.3.3, Capistrano 3.7.1 and capistrano/symfony 1.0.0-rc2

Could you look @peterjmit ? I don't have enough experience with Ruby and Capistrano ...

[2017-02-16 09:51] pbowyer commented on #63
Having recreated my Vagrant box after running for a year, I now have this error too.

[code]

[2017-03-14 21:16] tomcant opened #78 "Task symfony:set_permissions invokes task deploy:set_permissions:* for each server in "release_roles :all""
Hi,

I'm working against capistrano `3.8` with capistrano-symfony `1.0.0-rc2` and I'm receiving the following error when deploying to an application with more than one host configured:

![capistrano-symfony-invokes-task-multiple-times](https://cloud.githubusercontent.com/assets/1046961/23922442/4a8043c4-08fa-11e7-947a-e997e4496bbb.png)

Due to the nature of Rake each task can only be invoked once

[2017-04-19 10:01] Nyholm opened #80 "Release a stable release?"
Rc2 is over a year old now. What are we missing before we can do a stable release?

[2017-04-24 12:49] ruudk commented on #77
I have the same issue.

[2017-05-30 13:32] danibram commented on #61
Have same issue here, invoke save my life! thanks!

[code]

[2017-06-02 12:07] gido commented on #61
Enclosing the symfony:console command in a on roles clause (which is the recommended way) solve the issue.

I'm closing it.

[2017-06-18 04:28] skonsoft commented on #80
Any news ?

thanks

[2017-10-09 09:06] TNAJanssen opened #83 "Symfony 4 directory structure"

[2017-11-04 23:42] PillowPillow commented on #63
Same probleme here, did anybody find a workaround?

[2017-12-03 15:51] #71 closed

[2017-12-15 09:20] scuben commented on #80
bump?

[2017-12-19 20:48] Soullivaneuh commented on #83
Any help needed to maintain this repository? 4.0 is now stable, it would be great to have this update soon.

[2017-12-20 00:33] will-in-wi commented on #83
To my knowledge, none of the active Capistrano maintainers use Symfony. This makes it really tricky to verify correctness of pull requests and reproduce issues.

What would be tremendously helpful in this case is:
* A pull request with support for Symfony 4
* Documentation about how this impacts prior versions of Symfony (and reasoning as to why prior versions should be unsupported if desired, aka

[2018-01-04 23:45] Prometee commented on #83
There is some work to do to add symfony_directory_structure > 3.4 but I don't know what to do with sensio_distribution_version (I don't use this for now)

Work on Symfony 3.4 project and should work with 4.X because 3.4 has the same directory structure :
[code]

[2018-01-05 00:01] Prometee commented on #60
Maybe this should be close ? @will-in-wi

[2018-01-05 01:38] will-in-wi commented on #60
Does this work on Symfony 3?

[2018-01-05 02:00] Prometee commented on #60
The directory structure change with SF 3.4 but before this version  the directory structure was the default actual one in this project. SF 3.4 has been launch last month so this ticket should be closed

[2018-01-05 02:22] #60 closed

[2018-01-08 10:23] Prometee commented on #83
But you have to manage :

- .env for command line by hand with export MY_VAR="..." in your ~/.profile or use the [capistrano-dotenv gem ](https://github.com/jplethier/capistrano-dotenv) to make those exports available during the execution of capistrano scripts.
- and build or write an .htaccess for apache, or configure your nginx vhosts following the doc : https://symfony.com/doc/current/setup/web

[2018-01-10 01:28] Soullivaneuh opened #85 "Symfony Flex?"
Symfony Flex come with a different structure logic and then some tasks and vars are not needed anymore:

- `symfony:create_cache_dir` => The cache directory is automatically created on `cache:warmup` comand
- `symfony:clear_controllers` => The only controller is now `index.php` for all envs.
- `:app_path` => There is no app path anymore
- `:app_config_path` => Well, now it's `config`, not `app/con

[2018-01-10 01:33] Soullivaneuh commented on #83
See also #85

[2018-01-13 19:23] davidrojo opened #86 "Cache warmup error"
Hello,

I am receiving an error when cache warmup is executed, I don't know where to start to fix the issue.

It is runing in a cPanel with multiPHP and the account is configured to use php7. Also I had to add this line in my configuration file to use php7 with composer, as composer was being executed with php56, but with this is being executed with php7.

[code]

**Trace:**
[code]

If I SSH into

[2018-01-24 04:39] #70 closed

[2018-01-24 04:39] dmitrykustov commented on #70
see above

[2018-03-02 22:17] will-in-wi commented on #80
This comment contains some of the difficulties: https://github.com/capistrano/symfony/issues/83#issuecomment-352929169

[2018-03-05 19:56] Nyholm commented on #83
I will brush up my ruby skills and try to look into to this. I've just gotten the responsibility of the merge button. Any PRs are welcome.

[2018-03-06 08:51] #80 closed

[2018-03-08 09:43] adfinlay commented on #80
Would it be possible to get RC3 added to rubygems please?

[2018-03-08 10:17] Nyholm commented on #80
Yes, I have pinged Peter about giving me permission on rubygems.org

[2018-03-12 15:54] Nyholm commented on #80
Done, It up now https://rubygems.org/gems/capistrano-symfony

[2018-03-14 15:28] Arthur-min opened #89 "Uploads linked dirs"
Hello,

I'm on the 1.0.0rc3 release and I have a problem with the uploads symbolic link :

Linked dirs config:
`set :linked_dirs, fetch(:linked_dirs, []).push(
    'vendor',
    fetch(:web_path) + "/uploads",
    fetch(:web_path) + "/media",
)`

During the deployment, deploy:symlink:linked_dirs step do not make a ln - s /home/...../shared/web/uploads /home/...../releases/20180314000000/web/uploads

[2018-03-21 15:23] mocrates opened #90 "symfony_deploy_roles in place of symfony_roles"
Hello,

I don't know  if i do somethings wrong but:

When i have in my deploy.rb :
[code]
It's don't execute symfony task as controllers_to_clear

But when I put :
[code]
Its work.

In symfony.rake it 's always fetch this var:

[code]

Whereas it's store in other var:

[code]

I am not an expert in ruby that's why i not PR it and i am not sure about it

[2018-03-21 17:13] Nyholm commented on #90
Hm, I think it is the correct behavior. Im not sure though..

[2018-03-26 16:45] xavismeh commented on #83
Required changes I had to do using the **RC3** (`deploy.rb`):
[code]

1. First line overrides the list of files shared across releases. I did reset instead of override (`fetch(:linked_files`) because we do not have the `app/config/parameters.yml` file anymore, which is default value in this release.

2. Second line should will remove the default `--no-dev` flag from the composer install command, w

[2018-03-26 16:47] Nyholm commented on #83
Okey. Thank you.

Yeah, one should rather move `symfony/dotenv` to `require`.

[2018-03-26 16:49] xavismeh commented on #83
I will personally go for this yes :)

[2018-04-20 20:56] enima-web opened #91 "exclude folder before deploy from local !?"
I want to deploy symfony4 app **from local(git) no github,**
and before deploy the app to my ovh ssh server ,  **exculde** "**_vendor_**" and "**_var_**" folders !
How can i setup my deploy.rb file ?
Thank's

[2018-04-23 15:13] nesl247 commented on #90
Looks like this was introduced with #82.

[2018-04-29 15:35] davidrojo commented on #86
Hello,

Finally I've found the problem, it was a memory limit issue, after increasing the memory limit for php I've been able to end the process.

[2018-04-29 15:35] #86 closed

[2018-04-29 15:38] davidrojo opened #92 "PHP Errors not displaying in the log"
When executing php commands in the server, if the command has an error, these errors are not shown anywhere, either in the console or in the logs.

You can test this by setting a low php memory_limit value in the remote server.

Related: https://github.com/capistrano/symfony/issues/86

[2018-05-02 08:01] arjanvdbos commented on #63
Same issue here, both undefined local variable or method `symfony_cache_path' and 'symfony_console'. It seems that the DSL file is parsed (putting gibberish in it results in an parse error), but not actually used/available.

- Ruby 2.5.1
- Capistrano 3.10.2
- capistrano/symfony 1.0.0-rc3

Nobody found a workaround yet? I don't have a lot of experience with Ruby in order to do proper debugging.

[2018-07-24 07:31] xavismeh commented on #83
Maybe this issue could be closed, couldn't it ?

[2018-07-24 07:40] Nyholm commented on #83
I'll keep it open until a PR is merged. It is good for a reference.

[2018-07-27 09:31] xavismeh commented on #83
Is that something we want to do? Removing the `--no-dev` flag during composer install or moving `symfony/dotenv` to `require` block is a decision that would probably need to be taken at a project level but not in the tool, WDYT ?

[2018-09-06 07:48] dachinat commented on #83
I was getting serious error with Monolog (Memory allocation exhausted) and spent a lot of time investigating. This occurs if `var/log` is a linked directory. Don't know how you managed to have it linked.

[2018-09-06 19:19] xavismeh commented on #83
@dachinat if it can help, the only settings regarding the logs folder I have were/are the following:
[code]

[2018-09-06 20:41] Nyholm commented on #83
Lets fix this now!

[2018-09-06 21:51] Nyholm commented on #92
Thank you for this issue.
That is strange. Could you propose a fix?

In /lib/dsl/symfony.rb we define the command. Could one maybe grab stderr?

[2018-09-06 21:53] Nyholm commented on #64
Closing this due inactivity. Feel free to ping me if this is still an issue.

[2018-09-06 21:53] #64 closed

[2018-09-06 21:54] Nyholm commented on #27
I agree!

[2018-09-06 21:56] Nyholm commented on #57
I will add the migrate command to the documentation.

[2018-09-06 21:56] #61 closed

[2018-09-06 21:56] Nyholm commented on #63
Closing this due inactivity. Feel free to ping me if this is still an issue.

[2018-09-06 21:56] #63 closed

[2018-09-10 17:32] #77 closed

[2018-09-10 17:32] #83 closed

[2018-09-10 17:32] #85 closed

[2018-09-10 21:39] #42 closed

[2018-09-10 21:41] Nyholm commented on #73
This is fixed in master

[2018-09-10 21:41] #73 closed

[2018-09-19 13:43] dannyvw opened #103 "Error task symfony:clear_controllers"
Testing the latest release 2.0.0-alfa1 with symfony 4, but get the following error "Don't know how to build task 'symfony:clear_controllers' (see --tasks)" This task is invoked in https://github.com/capistrano/symfony/blob/2.0.0-alfa1/lib/capistrano/tasks/deploy.rake

[2018-09-21 09:17] Nyholm commented on #103
Closed by #104

[2018-09-21 09:17] #103 closed

[2018-11-13 13:00] martijnhartlief commented on #69
I would never link the vendor file for this reason alone.

But copying the current vendor to the new release folder sounds indeed like a nice speed up.

[2018-11-13 14:06] martijnhartlief opened #112 "NoMethodError: undefined method `symfony_console'"
When using:

`namespace :deploy do
  task :migrate do
    on roles(:db) do
      symfony_console('doctrine:migrations:migrate', '--no-interaction')
    end
  end
end`

[2018-11-13 15:41] Nyholm commented on #112
Interesting. I see that it is defined in https://github.com/capistrano/symfony/blob/2.0.0-alfa2/lib/capistrano/dsl/symfony.rb

I let someone with a bit more ruby knowledge answer this.

[2018-11-13 17:27] martijnhartlief commented on #112
Yes I see the symfony.rb file exists, and Symfony defines work for the base Capistrano functions. But when I try to use it in a rake file or in the deploy.rb, symfony_console is undefined.

Unfortunately, my ruby knowledge is not sufficient to figure out why this is happening.

[2018-11-27 20:51] ChoppyThing opened #113 "Website unreachable during deploy"
**Symfony 4/Php 7.2/ubuntu 18.04**

Hi
I wondering what i'm doing wrong in my deploy. I thought capistrano managed to switch current folders when the new version is fully built. But i'm getting the some errors and the app is unreachable for some minutes.
`request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "An exception has been thrown during the rendering of a template ("Unable to write

[2018-11-28 14:21] ChoppyThing commented on #113
So i did took some time to fix this but mine was linked to another problem : [See here](https://github.com/symfony/symfony/issues/29296)

As explained, my case was that i used a third party bundle which needed a writable cache folder. Later on i was setting acl for my cache folder after composer install, which was too late.
To solve this I manually create the cache folder before composer install a

[2018-11-28 14:34] Nyholm commented on #113
Thank you for reporting back on this.

[2019-03-15 09:40] romaricdrigon opened #115 "Error: `execute' should be wrapped in an `on'"
Hello,

It looks like an old issue (#73) is back.
I'm getting this error while deploying:
[code]

[2019-03-19 04:34] #115 closed

[2019-06-05 11:57] webdevilopers opened #117 "Task for running (and enforcing passed) tests"
Maybe it is an interesting feature to run unit tests either locally before deploying or on production after deploy.

I'm no ruby expert so this was my first approach:

[code]

But I'm not sure how to get a return value to inform cap to continue. Currently this solution will stop deployment even when tests pass. Trace:

[code]

[2019-06-07 13:42] webdevilopers commented on #117
Thanks to @radmen I was able to identify the problem. The tests were throwing deprecation notices that would let the process fail. The notices could be hidden by this configuration in `phpunit.xml`:

[code]

Solution provided here by @BigZ:
* https://stackoverflow.com/questions/35897550/remove-remaining-deprecation-notices-in-symfony-2-8

Symfony *2*:

[code]

If you are using the PHPUnit Bridge a

[2019-06-26 11:17] BigZ commented on #117
Hi @webdevilopers
I think the tests should be run in a Continuous Integration, not in capistrano.
just make test && make deploy if you really want to do it on your machine because this task is heavily related to the fact that you use phpunit and a specific configuration file.
PS: if you want to force weak deprecation notice, you can set it per-command, like `SYMFONY_DEPRECATIONS_HELPER=weak php ve

[2019-06-26 13:54] webdevilopers commented on #117
Thanks for the hint @BigZ !

[2019-08-19 09:06] andyexeter opened #119 "v1.0 tasks don't run on Symfony 2.8"
No matter what I try I can't seem to get any tasks to run using Symfony 2.8. Using the `--trace` option I see that the tasks are invoked but they just seem to do nothing:

[code]

I am using version 1.0. I have tried setting the following in my `deploy.rb` file:

[code]

Which doesn't help. I then also tried adding the following:

[code]

I have also tried adding the :web, :app and :db roles to th

[2019-12-07 15:57] Nyholm commented on #119
Does it work if you add `set :symfony_deploy_roles, :web`?

[2020-03-11 13:45] ChristianVermeulen commented on #61
@gido I'm using:

[code]

As per your advice, yet still it is not finding this command. I also tried the "invoke" way, but that gives me the same result.

[code]

I am on version 2.0.0. Could there be a problem after all?

[2020-03-11 19:30] gido commented on #61
@ChristianVermeulen strange. The symfony_console is still here in 2.x.

Do you required the full recipe in your Capfile ?

[code]

[2020-08-04 13:57] adfinlay opened #122 "Cache warmup SSH commands being executed multiple times per host"
After updating to Symfony 4.4 and migrating to v2 of this gem I was reviewing deploy logs and noticed that the `symfony:cache:warmup` task was running the SSH command itself multiple times per server. I deploy to 9 servers, and the command looks like it's running 81 times, 9 per server.

The `symfony_console` call in that task is wrapped in an `on`:

https://github.com/capistrano/symfony/blob/mast

[2020-08-06 16:59] kissifrot commented on #122
Hello, this is indeed a bug, so either commit 5f0bf73226cfe4cc000115acf89127b65ecef6dc should be reverted or the additional `on` should be removed.

[2020-08-07 10:38] adfinlay commented on #122
@kissifrot I think it would make more sense to revert the commit as opposed to removing the `on` from all of the places that `symfony_console` is called, as those make sense. IMO `symfony_console` is responsible for running the console and shouldn't concern itself with roles.

However, it would seem that "execute should be wrapped in an 'on' scope" so we may be stuck with removing the `on` scope f

[2020-09-04 07:54] ChristianVermeulen opened #124 "Capistrano roles ignored for symfony_command"
| Library | Version |
|---|---|
| Capistrano | 3.12.1 |
| Capistrano_symfony | 2.0.0 |

I followed this piece from the docs:

[code]

I have 2 servers set up:
[code]

Yet the `symfony_console` is still ran on both servers. I noticed another task which did neatly run on just one server, it was not using the symfony command. So I changed my symfony_command to a capistrano `execute` and now the role

[2021-04-11 10:35] #119 closed

[2022-06-06 13:51] HeahDude commented on #63
I ran into this issue today. Trying to use `--dry-run` seems broken, which is sad as it prevents proper debugging.

[2022-07-25 11:22] davidrojo opened #125 "Symfony messenger stop workers"
Hi,

I am trying to include a tastk to restart symfony messenger once deployed the new code (https://symfony.com/doc/current/messenger.html#deploying-to-production)

But as this comment says (https://stackoverflow.com/questions/63508798/symfony-messenger-workers-do-not-stop-when-running-under-supervisor), the command must be executed in the "old" release path, not in the new release path

How can